<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="public/css/styles.css">
    <title>BW Bikes</title>

</head>
<body>
    <header>
        <div><img src="" alt="logo DW_Bike"></div>
        <nav>
            <ul>
                <li><a href="/idioma">Idioma</a></li>
                <li><a href="/login">Usuario </a></li>
                <li><a href="/carro">Carrito de compras</a></li>
            </ul>
            <ul>
                <li><a href="#">MTB</a></li>
                <li><a href="#">RUTA</a></li>
                <li><a href="#">TRACK</a></li>
                <li><a href="#">CITY</a></li>
                <li><a href="#">KIDS</a></li>
                <li><a href="#">PARTS</a></li>
                <li><a href="#">ACCESORIES</a></li>
                <li><a href="#">SALE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section >
            <article><img src="img/mtb.jpg" alt="IMAGEN PORTADA"></article>
        </section>
        
    </main>
  <footer>

  </footer>
</body>
</html>