<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>BW Bikes</title>

</head>

<body>
    <header>
        
            <nav>
                <ul>
                    <li><a href="/idioma">Language</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/carro">Basket</a></li>
                </ul>
            </nav>
        </div>
        <main>
        <section class="ciclas-MTB">
            <h3>Bicicletas categoría MTB</h3>
            <div class="products">
                <article>
                    <img src="img/mtb_1.jpg" alt="MTB 1 " class="product_img">
                    <div class="main-article">
                        <p class="price">$2000</p>
                        <h4 class="description">BICICLETA JAGUAR MTB 29 </h4>
                    </div>
                </article>
                <article>
                    <img src="img/mtb_2.jpg" alt="MTB 2 " class="product_img">
                    <div class="main-article">
                        <p class="price">$2500</p>
                        <h4 class="description">BICICLETA ZEBRA MTB 29 </h4>
                    </div>
                </article>
                <article>
                    <img src="img/mtb_3.jpg" alt="MTB 3 Zebra" class="product_img">
                    <div class="main-article">
                        <p class="price">$2100</p>
                        <h4 class="description">BICICLETA SCORPION MTB 29</h4>
                    </div>
                </article>
                <article>
                    <img src="img/mtb_4.jpg" alt="MTB 4 Zebra" class="product_img">
                    <div class="main-article">
                        <p class="price">$2200</p>
                        <h4 class="description">BICICLETA HYENA MTB</h4>
                    </div>
                </article>
                