*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.topHeader {
    text-align: right;
    background-color: black;
    font:bold;
    display: flex;
    justify-content: right;
    
}
.menuHeader {
    text-align: right;
    background-color: rgba(3, 152, 158, 1);
    font:bold;
   
    display: flex;
    justify-content: center;
    
}
.center{
    width: 100%;
    text-align: center;
    margin-bottom: 10;
}
header ul li{
    list-style-type: none;
    padding: auto;
    color:white;


}

header ul li a{
    text-decoration: none;
    color:black;
}
ul
{
	list-style-type:none;
	margin:0;
	padding: 20px;
    
}
li
{
display:inline;
padding: 10px;

}

.contenedorMenu {

    display: flex;
    flex-wrap:nowrap; 
    padding: 10px;
    flex-direction: row;
   
}

.imgMenuNews {
    max-width: 100%;
    padding: 10px;
}

.footer {
    text-align: right;
    background-color: rgba(3, 152, 158, 1);
    font:bold;
    padding: 30px; 
    text-align: left;
    color: black;
}
.menuFooter {
    text-align: right;
    background-color: rgba(3, 152, 158, 1);
    font:bold;
    color: black;
    display: flex;
    justify-content: center;
    color: black;