*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.topHeader {
    text-align: right;
    background-color: slategrey;
    font:bold;
    display: flex;
    justify-content: right;
    
}
.menuHeader {
    text-align: right;
    background-color: black;
    font:bold;
   
    display: flex;
    justify-content: center;
    
}
.center{
    width: 100%;
    text-align: center;
    margin-bottom: 10;
}
header ul li{
    list-style-type: none;
    padding: auto;

}

header ul li a{
    text-decoration: none;
    color:aqua;
}
ul
{
	list-style-type:none;
	margin:0;
	padding: 20px;
    
}
li
{
display:inline;
padding: 10px;

}

/*nav > ul {
    display: flex;
  justify-content: center;
}

  