<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>BW Bikes</title>

</head>
<body>
    <header> 
        <div class="topHeader">
            <div class="logo"><img src="img/logo.jpg" alt="logo DW_Bike"></div>
            <nav >
                <ul>
                    <li><a href="/idioma">Language</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/carro">Basket</a></li>
                </ul>
            </nav>
        </div>
        <div class="menuHeader">
            <nav>
                <ul>
                    <li><a href="/MTB">MTB</a></li>
                    <li><a href="/ROAD">ROAD</a></li>
                    <li><a href="/TRACK">TRACK</a></li>
                    <li><a href="/CITY">CITY</a></li>
                    <li><a href="/KIDS">KIDS</a></li>
                    <li><a href="/ACCESORIES">ACCESORIES</a></li>
                </ul>
            </nav>
        </div>
       
    </header>
    <main>
        <section >
            <article>
                <img class="center" src="img/PORTADA.jpg" alt="IMAGEN PORTADA">
            </article>
            <article>
                <article class="portada">
                    <img class="portada1" src="img/PORTADA1.jpg" alt="IMAGEN PORTADA">
                    <img class="portada2" src="img/PORTADA2.jpg" alt="IMAGEN PORTADA">
                </article>

            </article>
        </section> 

    </main>
  <footer>

  </footer>
</body>
</html>