<%- include('./partials/head') %>
<body>
<%- include('./partials/header') %>   
    <main>
        <section >
            <article>
                <img class="center" src="img/PORTADA.jpg" alt="IMAGEN PORTADA">
            </article>
            <article>
                <article class="portada">
                    <img class="portada1" src="img/PORTADA1.jpg" alt="IMAGEN PORTADA">
                    <img class="portada2" src="img/PORTADA2.jpg" alt="IMAGEN PORTADA">
                </article>

            </article>
        </section> 

    </main>
</body>
