<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>BW Bikes</title>

</head>
<body>
    <header>
        <div><img src="" alt="logo DW_Bike"></div>
        <div class="topHeader">
            <nav >
                <ul>
                    <li><a href="/idioma">Language</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/carro">Basket</a></li>
                </ul>
            </nav>
        </div>
        <div class="menuHeader">
            <nav>
                <ul>
                    <li><a href="#">MTB</a></li>
                    <li><a href="#">ROAD</a></li>
                    <li><a href="#">TRACK</a></li>
                    <li><a href="#">CITY</a></li>
                    <li><a href="#">KIDS</a></li>
                    <li><a href="#">COMPONENTS</a></li>
                    <li><a href="#">ACCESORIES</a></li>
                    <li><a href="#">SALE</a></li>
                </ul>
            </nav>
        </div>
       
    </header>
    <main>
        <section >
            <article><img class="center" src="img/mtb.jpg" alt="IMAGEN PORTADA"></article>
        </section>
        <section class="menuNews">
            <article><img  src="img/img_bikelife.jpg" alt="NEWS"></article>
            <article><img  src="img/img_bike_health.jpg" alt="BIKE HEALTH"></article>
            <article><img  src="img/img_teck_news.jpg" alt="TECK NEWS"></article>
            <article><img  src="img/img_bike_fixture.jpg" alt="FIXTURE"></article>
        </section>
        
    </main>
  <footer>

  </footer>
</body>
</html>